name: Docker Image CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    gateway:
        runs-on: ubuntu-latest
        environment: AUTH
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Hub
              if: github.event_name == 'push'
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push gateway
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: deploy/Dockerfile
                  platforms: linux/amd64
                  push: ${{ github.event_name == 'push' }}
                  tags: |
                      gghtrt520/gateway:latest
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
